Flask==0.12
Jinja2==2.9.5
Werkzeug==0.12
bokeh==0.12.4
numpy==1.12.0
pandas==0.19.2
scipy==0.14.0
wsgiref==0.1.2
gunicorn==19.7.0
MarkupSafe==1.0
itsdangerous==0.24
python-dateutil==2.6.0
pytz==2016.10
six==1.10.0