body {
    padding-top: 50px;
}
.ret-template {
    padding: 40px 15px;
}

.navbar-inverse {
    background: #00035f;
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
}

.bk-toolbar-wrapper {
    display: none !important;
}