{% extends "base.html" %}

{% block body %}
<div class="view-wrap">
    <h1>Upload Data</h1>

    <p>Enter the URL of your data:</p>

    <div class="grid-2 gutter-40">
        <div class="span-1">
            <fieldset>
                <legend>Settings</legend>
                <form action="{{ url_for('predict') }}" method="post">
                    <ul>
                        <li>
                            <label>URL</label>
                            <input type="text" name="csvurl" />
                        </li>
                        <li>
                            <label>...or try a sample</label>
                            <select id="samples" name="samples">
								<option>Select sample data</option>
								<option value="https://raw.githubusercontent.com/chrisclark/retentionizer/master/zoo/1.csv">eP</option>
								<option value="https://raw.githubusercontent.com/chrisclark/retentionizer/master/zoo/2.csv">Paper</option>
								<option value="https://raw.githubusercontent.com/chrisclark/retentionizer/master/zoo/3.csv">Internet</option>
							</select>
                        </li>
                        <li>
                            <label>Project x periods:</label>
                            <input type="text" name="periods" value="5" />
                        </li>
                        <li>
                            <label>Discount Rate (%):</label>
                            <input type="text" name="discount" value="10" />
                        </li>
                        <li>
                            <label>Value/customer/period ($):</label>
                            <input type="text" name="value" value="25" />
                        </li>
                        <li>
                            <input type="submit">
                        </li>
                    </ul>
                </form>
            </fieldset>
        </div>
    </div>
</div>
{%  endblock %}