{% extends "base.html" %}

{% block body %}
<div class="view-wrap">
    <h1>Upload Data</h1>

    <p>Enter the URL of your data:</p>

    <div class="grid-2 gutter-40">
        <div class="span-1">
            <fieldset>
                <legend>Settings</legend>
                <form action="{{ url_for('predict') }}" method="post">
                    <ul>
                        <li>
                            <label>URL</label>
                            <input type="text" name="csvurl" />
                        </li>
                        <li>
                            <label>...or try a sample</label>
                            <select id="samples" name="samples">
								<option>Select sample data</option>
								<option value="static/zoo/1.csv">1</option>
								<option value="static/zoo/1.csv">2</option>
								<option value="static/zoo/1.csv">3</option>
							</select>
                        </li>
                        <li>
                            <label>Periods past to project</label>
                            <input type="text" name="periods" />
                        </li>
                        <li>
                            <input type="submit">
                        </li>
                    </ul>
                </form>
            </fieldset>
        </div>
    </div>
</div>
{%  endblock %}