{% extends "base.html" %}

{% block body %}
<div class="view-wrap">
    <h1>Upload Data</h1>

    <p>Enter the URL of your data:</p>

    <div class="grid-2 gutter-40">
        <div class="span-1">
            <fieldset>
                <legend>Settings</legend>
                <form action="{{ url_for('predict') }}" method="post">
                    <ul>
                        <li>
                            <label>URL</label>
                            <input type="text" name="csvurl" />
                        </li>
                        <li>
                            <input type="submit">
                        </li>
                    </ul>
                </form>
            </fieldset>
        </div>
    </div>
</div>
{%  endblock %}